<launch>
  <!-- ROBOT -->
  <machine name="raspimouse" address="raspimouse" env-loader="/home/ubuntu/env.bash" user="ubuntu" password="ubuntu" />

  <arg name="imu" default="1" />

  <node machine="raspimouse" pkg="raspimouse_ros_2" name="motors" type="motors" required="true" output="screen" args="on" />
  <node machine="raspimouse" pkg="raspimouse_ros_2" name="buttons" type="buttons" required="true" />
  <node machine="raspimouse" pkg="raspimouse_ros_2" name="leds" type="leds" required="true" />

  <node machine="raspimouse" pkg="urg_node" name="urg_node" type="urg_node" required="true" >
        <param name="frame_id" value="base_link"/>
  </node>

  <node machine="raspimouse" pkg="rt_usb_9axis_sensor" name="rt_usb_9axis_sensor" type="rt_usb_9axis_sensor" required="true" output="screen">
    <param name="port" value="/dev/ttyACM1"/>
  </node>

  <!-- PC -->
  <include file="$(find raspimouse_map_based_teach_and_replay)/launch/run_amcl.launch"/>

  <node pkg="raspimouse_map_based_teach_and_replay" type="navigator" name="navigator" output="screen" required="true" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find raspimouse_map_based_teach_and_replay)/config/config.rviz"/>

  <arg name="map_file" default="/tmp/map.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
</launch>
